<div class="row">
    <div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2">  <!-- establecemos las medidas de la foto de perfil en distintas pantallas -->
    <img src="../../../assets/mifoto.jpg" class="img-fluid" id="mifoto">
    </div>
    <div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombre">  <!-- establecemos las medidas del nombre en distintas pantallas -->
        <p id="minombre">JOSÉ CARLOS ZACARIAZ</p>
        <p id="mititulo">Full Stack Developer</p> 
    </div>
    <div class=" col-xs-12 col-sm-8 col-md-8 col-lg-8">  <!-- establecemos las medidas del acerda de en distintas pantallas -->
        <span class="">
            <h1 class="sobremi">Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aspernatur quas id quo tempore officiis dolores et laudantium officia quidem repellendus, repellat delectus sunt perspiciatis quos nobis! Quae, quis omnis!</p>
        </span>
    </div>
</div>
