<div class="row">
    <h1 id="experiencia">Experiencia </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11" id="trabajos">
        <ul>
            <li>
                <h3>trabajo 1 </h3> - <h5>(years)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem perspiciatis ab debitis maiores ipsa asperiores et rem distinctio id! Debitis voluptatem nobis consequuntur doloribus eaque error dicta iste voluptas.</p>
            </li>
            <li>
                <h3>trabajo 2 </h3> - <h5>(years)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem perspiciatis ab debitis maiores ipsa asperiores et rem distinctio id! Debitis voluptatem nobis consequuntur doloribus eaque error dicta iste voluptas.</p>
            </li>
            <li>
                <h3>trabajo 3 </h3> - <h5>(years)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem perspiciatis ab debitis maiores ipsa asperiores et rem distinctio id! Debitis voluptatem nobis consequuntur doloribus eaque error dicta iste voluptas.</p>
            </li>
        </ul>

    </div>
</div>
